
/* Your CSS Code here. */

  * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html,
      body {
        width: 100%;
        height: 100%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }

      main {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        padding: 10px;
      }
      #profileImg {
        border-radius: 100%;
        width: 250px;
        height: 250px;
        object-fit: cover;
      }
      #skills {
        margin-top: 20px;
        display: flex;
        gap: 15px;
      }
      #projects {
        margin-top: 20px;
      }